.navbar {
    display: flex;
    
  }
  
  .links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 5rem;
  }
  
  .link {
    text-transform: capitalize;
  }